
.send{
  display: flex;
  flex-wrap: wrap;
}
//第一塊
.gender{
  width: 40%;
}
.name{
  width: 50%;
  margin-left: 8%;
}
.phone,.email,.counrty,.address{
  width: 100%;
  margin: 15px 0;
}

.lab{
  display: block;
  color: gray;
  margin-bottom: 10px;
}

%input-style{
  border-radius: 5px;
  font-size: 16px;
  padding: 0.5em;
  border: 1px solid #4A4A4A;
  width: 95%;

}
.counrty-text{
  -webkit-appearance: none;
    color: gray;
    border: none;
    font-size: 16px;
    width: 100%;
}
.select-wrapper {
  position: relative;
  @extend %input-style;

  &::after {
     content: "\25BE";
     position: absolute;
     top: 50%;
     right: 8px;
     transform: translateY(-50%);
  }
}

input[type="text"],.lab ~select{
  @extend %input-style;
}

//第二塊
.port{
  display: flex;
  flex-wrap: wrap;
}
.port__text{
  width:95%;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  border: 1px solid;
}
.group{
  width: 75%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
}
input[type="radio"]{
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid;
  position: absolute;
  top: 25%;
    left: 5%;
  &:checked {
    box-shadow: inset 0 0 0 5px black;
  }
}
//第三塊
.pay{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.3rem;
}
.card,.card-number{
  width: 100%;
  margin-bottom: 15px;
}
.deadline,.ccv{
  width: 43%;
  place-self: end;
}

//購物車
.item{
  display: flex;
  column-gap: 1rem;
    margin-bottom: 20px;
}
.item__pic{
  width: 30%;
}
.item__price{
  width: 60%;
  text-align: right;
}
.item__price-button{
  margin: 23px 0;
    width: 46%;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gray-circle{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #F0F0F5;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  font-size: 28px;
}
.price{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 20px;
}
.bold{
  font-weight: bold;
}

//按鈕
.btn-group{
  width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.next{
  color: #FFFFFF;
  background-color: #F67599;
  width: 90%;
  border-radius: 5px;
  padding: 0.7rem;
}


@media screen and (min-width:375px) {
  
.form-container{
  grid-column: 1/2;
  grid-row: 2/3;
}
.shop-container{
  grid-column: 2/2;
  grid-row: 2/3;
}
.send{
  justify-content: space-between;
}
.gender,.counrty{
  width: 30%;
}
.name ,.address{
  width: 60%;
}
.phone,.email{
  width: 45%;
  margin: 15px 0;
}
.btn-group{
  grid-column: 1/2;
   grid-row: 4/5;
  place-self: end;
  margin-left: 20px;
}
.item__pic{
  width: 100px;
}
.item__price{
  text-align: left;
  position: relative;
}
.item__price-button{
  margin-left:0px;
}
.shop-price,.shop-price1{
  position: absolute;
  top: 2%;
  right: 5%;
}
.pre{
  margin-left: 50px;
}
}